<!DOCTYPE html>
<html class="no-js app">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bare - Start Bootstrap Template</title>
        <!-- Bootstrap Core CSS -->
        <link media="all"
            type="text/css"
            href="{{ assets.styles }}"
            id="sage/css-css"
            rel="stylesheet" />
        <script>
            document.documentElement.className = document.documentElement.className.replace("no-js",
            "js");
        </script>
    </head>

    <body>hello</body>
    <script id="wplemon-app-js-extra">var basebuilder = { "dist":"{{ assets.dist }}"}</script>
    <script src="{{ assets.scripts }}" id="sage/js-js"></script>
</html>
